//
// Core -> Variables
// ------------------------------------

// Brand
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee
$lighter:                #fff;

$brand-primary:          #bf9b58;
$brand-success:          #145843;
$brand-info:             #155a95;
$brand-warning:          #e7ab44;
$brand-danger:           #c01a29;
$brand-positive:         #972452;


// Variables -> Core

// Base
$base-font-family:        Arial, sans-serif;
$base-font-family-mono:   'Philosopher', "Courier New", sans-serif;
$base-font-size:          16px;
$base-font-weight:        400;
$base-line-height:        1.428571429;
$base-color:              #747474;
$base-background:         #fff;

// Link
$link-color:              #404040;
$link-hover-color:        #404040;
$link-decoration:         underline;



// Variables -> Modules

// Typography
$font-size-base:              $base-font-size !default;
$font-size-large:             ceil(($base-font-size * 1.125)) !default; // ~18px
$font-size-medium:            ceil(($base-font-size * 1)) !default; // ~16px
$font-size-small:             ceil(($base-font-size * 0.85)) !default; // ~12px


$font-size-h1:                floor(($base-font-size * 2.625)); // ~42 px
$font-size-h2:                floor(($base-font-size * 1.875)); // ~30px
$font-size-h3:                ceil(($base-font-size * 1.75));   // ~28px
$font-size-h4:                ceil(($base-font-size * 1.3125)); // ~21px
$font-size-h5:                $base-font-size; // 16px
$font-size-h6:                ceil(($base-font-size * 1.125)); // ~18px

$line-height-base:            1.428571429;
$line-height-base-double:     1.6;
$line-height-computed:        floor(($base-font-size * $line-height-base)); // ~22px
$line-height-computed-half:   floor(($base-font-size * $line-height-base) / 2); // ~11px


$headings-font-family:        $base-font-family-mono !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.1666 !default;
$headings-color:              #404040 !default;


// Grid
$screen-sm:                   480px;
$screen-sm-min:               $screen-sm;
$screen-phone:                $screen-sm-min;

$screen-md:                   740px;
$screen-md-min:               $screen-md;
$screen-tablet:               $screen-md-min;

$screen-lg:                   992px;
$screen-lg-min:               $screen-lg;
$screen-desktop:              $screen-lg-min;

$screen-xlg:                  1200px;
$screen-xlg-min:              $screen-xlg;
$screen-xlg-desktop:          $screen-xlg-min;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Number of columns in the grid system
$grid-columns:                 12;
$grid-gutter-width:            20px;
$grid-float-breakpoint:     $screen-md-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Small screen / tablet
$container-mobile:             (450px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-mobile;

// Small screen / tablet
$container-tablet:             (700px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-md:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-lg:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1120px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-xlg:                 $container-large-desktop;

// Btn
$btn-font-weight:                700;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

// Padding
$padding-base-vertical:          6px;
$padding-base-horizontal:        12px;

$padding-large-vertical:         10px;
$padding-large-horizontal:       58px;

$padding-small-vertical:         5px;
$padding-small-horizontal:       10px;

$padding-xs-vertical:            1px;
$padding-xs-horizontal:          5px;

$line-height-large:              1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:              1.5;

$border-radius-base:             0;
$border-radius-large:            0;
$border-radius-small:            0;

$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-large;
$btn-border-radius-small:        $border-radius-small;


// Type
$blockquote-small-color:         $gray-light;
$blockquote-font-size:           ($base-font-size * 1.25);
$blockquote-border-color:        $gray-lighter;


// Breadcrumbs
$breadcrumb-padding-vertical:   7px;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg:                 transparent;
$breadcrumb-color:              $brand-primary;
$breadcrumb-active-color:       $gray-light;
$breadcrumb-separator:          ">";


// Pagination
$pagination-color:                     $link-color;
$pagination-bg:                        #fff;
$pagination-border:                    #ddd;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              #ddd;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ddd;


// Pager
$pager-bg:                             $pagination-bg;
$pager-border:                         transparent;
$pager-border-radius:                  0;
$pager-hover-bg:                       transparent;
$pager-active-bg:                      transparent;
$pager-active-color:                   $pagination-active-color;
$pager-disabled-color:                 $pagination-disabled-color;


// Tables
$table-cell-padding:            8px;
$table-condensed-cell-padding:  5px;

$table-bg:                      transparent;
$table-bg-accent:               #f9f9f9;

$table-bg-hover:                #f5f5f5;
$table-bg-active:               $table-bg-hover;

$table-border-color:            #c9b899;


//== Navbar
$navbar-height:                    50px;
$navbar-margin-bottom:             3px;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #404040;
$navbar-default-bg:                #fff;
$navbar-default-border:            #e6e6e6;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #fff;
$navbar-default-toggle-icon-bar-bg:        #715122;
$navbar-default-toggle-border-color:       #fff;

// Navbar links
$navbar-default-link-color:                #404040;
$navbar-default-link-hover-color:          $brand-primary;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $brand-primary;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;


// Navs
$nav-link-padding:                          10px 17px;
$nav-link-hover-bg:                         transparent;

//== Tabs
$nav-tabs-border-color:                     $brand-warning !default;
$nav-tabs-link-hover-border-color:          $brand-warning !default;

$nav-tabs-active-link-hover-bg:             $brand-warning !default;
$nav-tabs-active-link-hover-color:          $lighter !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $base-background !default;


// Form states and table
$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border:                   #ccc !default;

$input-border-radius:            $border-radius-base !default;
$input-border-radius-large:      $border-radius-large !default;
$input-border-radius-small:      $border-radius-small !default;

$input-border-focus:             #66afe9 !default;
$input-color-placeholder:        #a5a5a5 !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 3) !default;
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;


$state-success-text:             #00933e !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:       15px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;

//-- Z-index master list
$zindex-navbar:                  1000;
$zindex-navbar-fixed:            1030;
$zindex-dropdown:                1000 !default;
$zindex-modal-background:        1040;
$zindex-modal:                   1050;

//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         25px 44px !default;

//** Padding applied to the modal title
$modal-title-padding:         21px 15px 21px 44px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;



//== Dropdowns
$component-active-color:    $lighter !default;
$component-active-bg:       $brand-warning !default;

//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                #c9b899 !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #c9b899 !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            #464646 !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      $lighter !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $brand-warning !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;



$close-font-weight:           bold !default;
$close-color:                 $brand-danger !default;
$close-text-shadow:           0 1px 0 #fff !default;