//
// Base -> Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small {
    font-size: 75%;
  }
}

h1 { font-size: 30px; color:#715122;}
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; color:#715122;}
h6 { font-size: $font-size-h6; font-weight: 400;}


@media (min-width: $screen-md-min) {
  h1 { font-size: $font-size-h1;}
}

// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
}

.heading {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }

// Responsive alignment

@if $use-adaptive == true {
  @media (min-width: $screen-sm-min) {
    .text--xs--left   { text-align: left; }
    .text--xs--right  { text-align: right; }
    .text--xs--center { text-align: center; }
  }
  @media (min-width: $screen-md-min) {
    .text--sm--left { text-align: left;}
    .text--sm--right {text-align: right;}
    .text--sm--center {text-align: center;}
  }

  @media (min-width: $screen-lg-min) {
    .text--md--left { text-align: left;}
    .text--md--right { text-align: right;}
    .text--md--center { text-align: center;}
  }

  @media (min-width: $screen-xlg-min) {
    .text--lg--left { text-align: left;}
    .text--lg--right { text-align: right;}
    .text--lg--center { text-align: center;}
  }
}

// size

.font--lg {
  font-size: $font-size-large;
}
.font--md {
  font-size: $font-size-medium;
}
.font--sm {
  font-size: $font-size-small;
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }

@if $use-color-text == true {
  @include text-emphasis-variant('.text--primary', $brand-primary);
  @include text-emphasis-variant('.text--success', $state-success-text);
  @include text-emphasis-variant('.text--info', $state-info-text);
  @include text-emphasis-variant('.text--warning', $state-warning-text);
  @include text-emphasis-variant('.text--danger', $state-danger-text);
}
// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list--unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list--inline {
  @include list-unstyled;
  margin-left: -5px;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list--contents {
  li {
    font-family: "Roboto";
    font-size: 15px;
    margin-bottom: 0 !important;
    padding: 10px 0 7px;
    color: #000;
    @media (min-width: $screen-md-min) {
      text-align: right;
      background: url("../images/dotted.gif") left bottom 9px repeat-x;
    }
  }
  span::after {
    content: ': ';
  }
  span + span {
    font-weight: 300;
    &::after {
      content: '';
    }
  }
  @media (min-width: $screen-md-min) {
    span {
      float: left;
      padding: 0;
      text-align: left;
      background: #ffffff;
      font-weight: 500;
      &::after {
        content: '';
      }
      + span {
        float: right;
        text-align: left;
        //width: 21%;
        font-weight: 300;
      }
    }
  }
}


// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $blockquote-border-color;

  &:before {
    content: '\2014 \00A0';
  }
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}