//
// Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumb {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: $line-height-computed;
    margin-top: $line-height-computed;
    list-style: none;
    background-color: $breadcrumb-bg;
    border-radius: $border-radius-base;

    > li {
      display: inline-block;

      + li:before {
        content: "#{$breadcrumb-separator}";
        padding: 0 5px;
        color: $breadcrumb-color;
      }
      a {
        color: $breadcrumb-color;}
    }

    > .active {
      color: $breadcrumb-active-color;
    }
  }
}