//
// Modules -> Forms
// --------------------------------------------------


// Normalize non-controls
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 15px;
  color: black;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 300;
}


// Normalize form controls
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.form-control {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
  min-height: 140px;
  resize: none;
}


// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}


.form-group {
  margin-bottom: $form-group-margin-bottom;
}


// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;
  //margin-top: 11px;
  margin-bottom: 11px;
  input {display: none;}
  label {
    min-height: $line-height-computed; // Ensure the input doesn't jump when there is no text
    padding-left: 33px;
    margin-bottom: 0;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 23px;
      width: 23px;
      background: #fff;
      border: 1px solid $table-border-color;
      @include border-top-radius(3px);
      @include border-bottom-radius(3px);
    }
  }
}
.radio{
  label {
    &:after {
      @include border-radius(50%);
    }
  }
}

.checkbox input[type="checkbox"]:checked + label:after {
  //background: $brand-success;
  background: #fff url("../images/ok.png") no-repeat center center;
}

.radio input[type="radio"]:checked + label:after {
  background: $brand-success;
}

.radio + .radio,
.checkbox + .checkbox {
  //margin-top: -5px;
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}


// These classes are used on elements with <label> descendants
.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: $cursor-disabled;
    }
  }
}


// Horizontal forms
.form-horizontal {
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: ($padding-base-vertical + 1);
  }
  .radio,
  .checkbox {
    min-height: ($line-height-computed + ($padding-base-vertical + 1));
  }
  .form-group {
    @include make-row;
  }
  @media (min-width: $screen-sm-min) {
    .control-label {
      text-align: left;
      margin-bottom: 0;
      padding-top: ($padding-base-vertical + 1); // Default padding plus a border
    }
  }
  .has-feedback .form-control-feedback {
    right: floor(($grid-gutter-width / 2));
  }
  .form-group-lg {
    @media (min-width: $screen-sm-min) {
      .control-label {
        padding-top: ($padding-large-vertical + 1);
        font-size: $font-size-large;
      }
    }
  }
  .form-group-sm {
    @media (min-width: $screen-sm-min) {
      .control-label {
        padding-top: ($padding-small-vertical + 1);
        font-size: $font-size-small;
      }
    }
  }
}


@if $use-has-feedback == true {
  // Form control feedback states
  .has-feedback {
    position: relative;

    .form-control {
      padding-right: ($input-height-base * 1.25);
    }
  }
  // Feedback icon (requires .glyphicon classes)
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; // Ensure icon is above input groups
    display: block;
    width: $input-height-base;
    height: $input-height-base;
    line-height: $input-height-base;
    text-align: center;
    pointer-events: none;
  }

  // Feedback states
  .has-success {
    @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
  }
  .has-warning {
    @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
  }
  .has-error {
    @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
  }

  .has-feedback label {
    & ~ .form-control-feedback {
      top: ($line-height-computed + 5); // Height of the `label` and its margin
    }
    &.sr-only ~ .form-control-feedback {
      top: 0;
    }
  }
}