//
// Modules -> Navbars
// --------------------------------------------------


.navbar {
  //position: relative;
  min-height: $navbar-height;
  margin: $navbar-margin-bottom 0;
  border: 1px solid transparent;

  // Prevent floats from breaking the navbar
  @include clearfix;

}

.navbar-header {
  @include clearfix;
  float: left;
}

.navbar-nav {
  @media (min-width: $screen-lg-min) {
    float: left;
    margin: 0;
  }
}

@media (min-width: $screen-md-min) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    //margin-right: -$navbar-padding-horizontal;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}
.navbar-right {
  float: right !important;
  //margin-right: -$navbar-padding-horizontal;

  ~ .navbar-right {
    margin-right: 0;
  }
}


// Navbar collapse (body)
.navbar-collapse {
  overflow-x: visible;

  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  @include clearfix;
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
    width: 100%;
  }

  @media (min-width: $screen-lg-min) {
    padding-right: $navbar-padding-horizontal;
    padding-left: $navbar-padding-horizontal;
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: inline-block !important;
      height: auto !important;
      padding: 0;
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }
  }
}

.container{
  > .navbar-header,
  > .navbar-collapse {
    margin-right: -$navbar-padding-horizontal;
    margin-left:  -$navbar-padding-horizontal;

    @media (min-width: $screen-lg-min) {
      margin-right: 0;
      margin-left:  0;
    }
  }
}


.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $screen-lg-min) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}


// Navbar form
//
// Extension of the `.form-inline` with some extra flavor for optimum display in
// our navbars.

.navbar-form {
  margin-left: -$navbar-padding-horizontal;
  margin-right: -$navbar-padding-horizontal;
  padding: 10px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  $shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  @include box-shadow($shadow);
  .btn {
    padding: 2px;
    line-height: 1.7;
    border: transparent;
    margin-left: -31px !important;
  }
  .input-group .form-control:first-child{
    @include border-right-radius(3px);
  }
  .form-group {
    @media (max-width: $grid-float-breakpoint-max) {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // Vertically center in expanded, horizontal navbar
  @include navbar-vertical-align($input-height-base);

  width: auto;
  max-width: 170px;
  // Undo 100% width for pull classes
  @media (min-width: $grid-float-breakpoint) {
    width: auto;
    max-width: none;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    @include box-shadow(none);
  }
}


// Navbar toggle
.navbar-toggle {
  position: relative;
  float: left;
  margin-right: $navbar-padding-horizontal;
  padding: 9px 2px;
  @include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  font-family: $base-font-family-mono;
  font-size: 24px;
  color: #b68c43;
  width: 110px;
  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }
  .sr-only {
    line-height: 1;
    float: right;
    display: block;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 33px;
    height: 4px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: $screen-lg-min) {
    display: none;
  }
}

.navbar-nav {

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: $line-height-computed;
  }
  // Uncollapse the nav
  @media (min-width: $screen-lg-min) {

    //margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }
  }
}


.navbar-default {
  background-color: $navbar-default-bg;
  //border-color: $navbar-default-border;
  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;
      //border-bottom: 1px solid $navbar-default-border;
      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: transparent;
      }

      @media (max-width: $screen-lg-min) {
        .active,
        &:hover,
        &:focus {
          color: $lighter;
          background-color: $brand-warning;
        }
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: transparent;
      }
      @media (max-width: $screen-lg-min) {
        &,
        &:hover,
        &:focus {
          color: $lighter;
          background-color: $brand-warning;
        }
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse {
    border-color: $navbar-default-border;
  }
}