//
// Modules -> Navs
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    //position: relative;
    display: block;
    padding: 0;

    @media (min-width: $screen-lg-min) {
      padding: 10px 7px;
    }
    @media (min-width: $screen-xlg-min) {
      padding: $nav-link-padding;
    }
    &:first-child {padding-left: 0;}
    &:last-child {padding-right: 0;}
    > a {
      position: relative;
      display: block;
      font-family: $base-font-family-mono;
      font-size: 17px;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
      @media (max-width: $screen-lg-min) {
        text-decoration: none;
        border-bottom: 1px solid #e6e6e6;
        text-align: center;
      }
    }
  }
  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }
}

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }
  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Tabs
.nav-tabs {
  //border-bottom: 1px solid $nav-tabs-border-color;
  margin-bottom: 15px;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    padding: 0;
    width: 50%;
    @media (min-width: $screen-md-min) {
      width: auto;
    }
    // Actual tabs (as links)
    > a {
      margin-right: 0;
      font-weight: 700;
      line-height: $line-height-base;
      //border: 1px solid transparent;
      text-decoration: none;
      text-align: center;
      color: #464646;
      padding: 10px;
      width: auto;
      border: 1px solid $nav-tabs-border-color;
      font-size: 12px;
      &:hover {
        color: $brand-primary;
      }
      span {
        display: none;
      }
      @media (min-width: $screen-md-min) {
        font-size: 17px;
        width: 210px;
        padding: $nav-link-padding;
        span {
          display: inline-block;
        }
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}