.breadcrumbs
    .container
        ul.breadcrumb.visible-md.visible-lg
            li
                a(href="#") Главная
            li
                a(href="#") Интернет-магазин
            li.active= title.description
        h1.main-title= title.description