.col.col-lg-3.col-md-4.col-xs-12
    h6.filter__title.filter__title-js.visible-xs.visible-sm: a(href="#"): b Выбрать по параметрам
    form.filter(action='', method='post', role='form')
        .filter__item
            .filter__item-title
                h5 Специальные предложения
            .filter__item-body
                .checkbox
                    input(type="checkbox", id="adata")
                    label(for="adata") Хиты
                .checkbox
                    input(type="checkbox", id="corsair")
                    label(for="corsair") Новинки
                .checkbox
                    input(type="checkbox", id="iconik")
                    label(for="iconik") Акции
                .checkbox
                    input(type="checkbox", id="kingston")
                    label(for="kingston") Распродажа
        .filter__item
            .filter__item-title
                h5 Цена
            .filter__item-body
                ul.list--inline.text--center
                    li.col-xs-5: input.form-control(type="text", class="start", placeholder="от")
                    li.col-xs-5: input.form-control(type="text", class="end", placeholder="до")
        .filter__item
            .filter__item-title
                h5 Цвет металла
            .filter__item-body
                .checkbox
                    input(type="checkbox", id="adata1")
                    label(for="adata1") Белое золото
                .checkbox
                    input(type="checkbox", id="corsair1")
                    label(for="corsair1") Красное золото
                .checkbox
                    input(type="checkbox", id="iconik1")
                    label(for="iconik1") Желтое золото
        .filter__item
            .filter__item-title
                h5 Вставка
            .filter__item-body
                .checkbox
                    input(type="checkbox", id="adata2")
                    label(for="adata2") Без вставок
                .checkbox
                    input(type="checkbox", id="corsair2")
                    label(for="corsair2") Аметист
                .checkbox
                    input(type="checkbox", id="iconik2")
                    label(for="iconik2") Бриллиант
                .checkbox
                    input(type="checkbox", id="adata3")
                    label(for="adata3") Гранат
                .checkbox
                    input(type="checkbox", id="corsair3")
                    label(for="corsair3") Опал
                .checkbox
                    input(type="checkbox", id="iconik3")
                    label(for="iconik3") Топаз
                .collapse__elem
                    .collapse__elem-title
                        a.text--primary(href="#") Показать еще
                    .collapse__elem-body
                        .checkbox
                            input(type="checkbox", id="corsair4")
                            label(for="corsair4") Опал
                        .checkbox
                            input(type="checkbox", id="iconik4")
                            label(for="iconik4") Топаз
        .filter__item
            .filter__item-title
                h5 Коллекция
            .filter__item-body
                .checkbox
                    input(type="checkbox", id="adata12")
                    label(for="adata12") Золотые кружева
                .checkbox
                    input(type="checkbox", id="corsair12")
                    label(for="corsair12") Золотые  нити
                .checkbox
                    input(type="checkbox", id="iconik12")
                    label(for="iconik12") Кокетка
                .checkbox
                    input(type="checkbox", id="adata13")
                    label(for="adata13") Крылья любви
                .checkbox
                    input(type="checkbox", id="corsair13")
                    label(for="corsair13") Лебединое озеро
                .checkbox
                    input(type="checkbox", id="iconik13")
                    label(for="iconik13") Топаз
                .collapse__elem
                    .collapse__elem-title
                        a.text--primary(href="#") Показать еще
                    .collapse__elem-body
                        .checkbox
                            input(type="checkbox", id="corsair14")
                            label(for="corsair14") Опал
                        .checkbox
                            input(type="checkbox", id="iconik14")
                            label(for="iconik14") Топаз
        button.btn.btn--default.btn--block(type="reset") Сбросить все
        button.btn.btn--warning.btn--block(type="submit") Применить
