footer
    .footer-top
        .footer__menu
            .container
                .row
                    .col.col-lg-2.visible-lg
                        h6.contacts__title Информация
                        +list('nav-stacked nav', 'Оплата и получение товара', 'Гарантии качества', 'Возврат', 'Уход за изделиями')
                    .col.col-lg-2.visible-lg
                        h6.contacts__title Каталог
                        +list('nav-stacked nav', 'Каталог товаров', 'Новинки', 'Новинки')
                    .col.col-lg-2.visible-lg
                        h6.contacts__title Компания
                        +list('nav-stacked nav', 'Новости', 'Вакансии', 'О компании')
                    .col.col-lg-3.col-md-6.col-xs-12(style="padding:0")
                        h6.contacts__title Офисы продаж
                        ul.nav-stacked.nav
                            li.nav__element
                                .nav__element-item.nav__element-item-contact
                                    i.icon-location
                                    |  г. Санкт-Петербург, ул. Такая-то, д. 10
                            li.nav__element
                                .nav__element-item.nav__element-item-contact
                                    i.icon-location
                                    |  г. Кострома, ул. Такая-то, д. 10
                            li.nav__element.visible-lg
                                a(href="#").nav__element-item.nav__element-item-contact.nav__element-item-last Карта сайта
                    .col.col-lg-3.col-md-6.col-xs-12.text--md--right.text--left
                        ul.list--inline.social
                            li Мы в соцсетях:
                            li: a(href="#"): i.icon-facebook-official
                            li: a(href="#"): i.icon-vkontakte
    .footer-bottom
        .container
            .row
                .col.col-lg-6.col-md-6.col-xs-12
                    p.copyright ООО "Санкт-Петербургский Ювелирный Завод "Ювелиры Северной Столицы" © 2015
                .col.col-lg-6.col-md-6.col-xs-12.text--md--right.text--center
                    a(href="http://www.trinet.ru", target="_blank")
                        img(src="images/logo-trinet.png", alt="Trinet")