header
    .header-top
        .container
            .navbar-header.col-sm-12.col-xs-12.col-md-6
                a.navbar-brand(href='/'): img(src="images/logo.png", alt="")
            .navbar-left.navbar-phone
                span Единый номер
                    b 8(800) 555-17-70
            .navbar-right.busket
                span.busket-text В вашей корзине
                span.busket-count 2
                span.busket-type товара
    .header-bottom
        .container
            nav.navbar.navbar-default(role='navigation')
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                        .pull-left
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        span.sr-only Меню
                form.navbar-form.navbar-right.visible-xs.visible-sm.visible-md(role='search')
                    .input-group
                        input.form-control(type='text', placeholder='Поиск по сайту')
                        .input-group-btn
                            button.btn.btn--default(type='submit'): i.icon-search
                .collapse.navbar-collapse.navbar-ex1-collapse
                    //+list-h('nav navbar-nav', 'Каталог', 'Акции', 'Оплата и получение товара', 'Розничный магазин', 'О нас', 'Гарантии')
                    ul.nav.navbar-nav
                        li
                            a.visible-lg(href="#") Каталог
                            a.hidden-lg.menu__title.filter__title-js(href="#") Каталог
                            .subnav
                                .container
                                    h2.subnav-title.visible-lg Каталог
                                    ul.nav
                                        li.subnav-sub
                                            a.visible-lg(href="#") Серьги
                                            a.hidden-lg.menu__title.filter__title-js(href="#") Серьги
                                            ul.nav
                                                li: a(href="#") Серьги пуссеты
                                                li: a(href="#") Серьги детские
                                                li: a(href="#") Серьги c подвесной частью
                                                li: a(href="#") Серьги скоба
                                                li: a(href="#") Серьги штампованные
                                        li.subnav-sub
                                            a.visible-lg(href="#") Кольца
                                            a.hidden-lg.menu__title.filter__title-js(href="#") Кольца
                                            ul.nav
                                                li: a(href="#") Обручальные кольца
                                                li: a(href="#") Помолвочные кольца
                                                li: a(href="#") Мужские печатки
                                                li: a(href="#") Женские кольца
                                        li.subnav-sub
                                            a.visible-lg(href="#") Подвески и кулоны
                                            a.hidden-lg.menu__title.filter__title-js(href="#") Подвески и кулоны
                                            ul.nav
                                                li: a(href="#") Серьги пуссеты
                                                li: a(href="#") Серьги детские
                                                li: a(href="#") Серьги c подвесной частью
                                                li: a(href="#") Серьги скоба
                                                li: a(href="#") Серьги штампованные
                                        li.subnav-sub
                                             a(href="#") Цепи и колье
                                             a(href="#") Браслеты
                        li: a(href="#") Акции
                        li: a(href="#") Оплата и получение товара
                        li: a(href="#") Розничный магазин
                        li: a(href="#") О нас
                        li: a(href="#") Гарантии
                        li.active: a(href="#") ЮСС
                form.navbar-form.navbar-right.visible-lg(role='search')
                    .input-group
                        input.form-control(type='text', placeholder='Поиск по сайту')
                        .input-group-btn
                            button.btn.btn--default(type='submit'): i.icon-search
           //button(type="button", class="btn", data-toggle="modal", data-target="#callThanks") Модальное
           //button(type="button", class="btn", data-toggle="modal", data-target="#callForm") Модальное