// callThanks
.modal.fade(id='callThanks')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close-red.png", alt="Close")
                h3.modal-title Заказать звонок менеджеру
            .modal-body.text--center
                p Ожидайте звонка. Вам перезвонят в ближайшее время.


// callForm
.modal.fade(id='callForm')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close-red.png", alt="Close")
                h3.modal-title Заказать звонок менеджеру
            .modal-body
                form.form-horizontal(action='', method='post', role='form')
                    +field('text', 'phone', 'phone1', 'Телефон *', true)
                    +field('text', 'name', 'name1', 'Имя *', true)
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 Комментарии
                        .col.col-sm-9.col-xs-12
                            textarea.form-control
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 &nbsp;
                        .col.col-sm-9.col-xs-12
                            button.btn.btn--warning(type='submit') Перезвонить мне
