ul.pager
    li.previous
        a(href='#').arrow
            i &larr;
        a(href='#') Вернуться к списку акций
    //li.next
    //    a(href='#') Следующая новость
    //    a(href='#').arrow
    //        i &rarr;