aside.col.col-md-4.col-xs-12.pull-right.visible-lg.visible-md
    .panel.panel--default
        .panel__title
            h4 Другие акции
        - for (var x = 1; x < 6; x++)
            a(href="#").panel__item
                p.news__date 27 июля 2015
                u.font--lg.text--primary Скидки 20% на бриллианты