#owl-demo2.owl-carousel.owl-theme.visible-xs.visible-sm
    - for (var x = 1; x <= 4; x++)
        .item
            img(src="images/slide-mini-1.jpg", alt="")
            .container
                h1.padbot10 ЮСС открыли свой
                    | магазин в
                    | Санкт-Петербурге
                    | открыли свой магазин в
                    | Санкт-Петербурге
#owl-demo.owl-carousel.owl-theme.visible-md.visible-lg
    - for (var x = 1; x <= 4; x++)
        .item.visible-md.visible-lg(style="background-image: url('images/slide-1.jpg');")
            .container
                .pull-right
                    h1 ЮСС открыли свой
                        br
                        | магазин в
                        br
                        | Санкт-Петербурге
                        br
                        | открыли свой магазин в
                        br
                        | Санкт-Петербурге