//
// Partials -> Footer
// ------------------------------------

footer {
  background-color: #f5f5f5;
  color: #7c7c7c;
  padding: 30px 0 17px;
  font-size: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 284px;
}
.footer {
  &-top {}
  &-bottom {
    padding-top: 30px;
    .copyright {
      font-size: 10px;
      margin-bottom: 25px;
      @media (min-width: $screen-md-min) {
        font-size: 13px;
        margin-bottom: 10px;
      }
    }
  }
}

.footer__menu {
  .contacts__title {
    color: #25272a;
    font-size: 20px;
    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }
  .nav__element {
    padding: 0;
    &-item {
      padding: 6px 0;
      color: #7c7c7c;
      font-size: 12px;
      font-family: $base-font-family;
      text-decoration: none;
      &-last {
        margin-left: 30px;
        margin-top: 35px;
      }
      &-contact {
        padding: 0;
        font-size: 13px;
      }
    }
    i {color: #393939;font-size: 1.4em;}
  }
}

.social {
  margin-top: 11px;
  i::before {
    width: 0.6em;
    font-size: 22px;
    color: #3f3f3f;
    margin: 0;
  }
}