//
// Partials -> Header
// ------------------------------------
header {background-color: $lighter;position: relative;}
.header {
  &-top {
    padding: 16px 0;
    border-bottom: 1px solid #c7baa0;
    .navbar-phone {
      line-height:1.4;
      float: left;
      color: #3f4143;
      b {
        display: block;
        font-size: 20px;
        @media (min-width: $screen-md-min) {
          font-size: 22px;
        }
      }
      @media (min-width: $screen-md-min) {
        margin-left: 30px;
      }
      @media (min-width: $screen-lg-min) {
        margin-top: 11px;
        margin-left: 40px;
        float: none;
      }
    }
    .busket {
      color: #404040;
      @media (min-width: $screen-lg-min) {
        margin-top: 38px;
      }
      &-text {
        display: block;
        margin-bottom: 5px;
        @media (min-width: $screen-lg-min) {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 0;
        }
      }
      &-count {
        color: $lighter;
        background-color: #d1b078;
        font-weight: 700;
        padding: 5px 11px;
        margin-right: 10px;
      }
      &-type {
        color: #b58630;
      }
    }
  }
  &-bottom {
    box-shadow: 0.5px 0.9px 2px rgba(2, 2, 2, 0.75);
  }
}
.navbar-form {
  margin-top: 0;
  @media (min-width: $screen-md-min) {
    margin-top: 16px;
  }
}

.subnav {
  display: none;
  width: 100%;
  z-index: 1;
  text-decoration: none;
  background-color: #f8f8f8;
  @media (min-width: $screen-lg-min) {
    background: #FFF;
    position: absolute;
    top: 94%;
    left: 0;
    right: 0;
    border-top: 1px solid #bfb9b3;
    box-shadow: 1px 3px 3px rgba(2, 2, 2, 0.29);
    padding-bottom: 50px;
  }
  &-title {
    margin-top: 21px;
    margin-bottom: 20px;
    color: #e1cba3;
  }
  .container {
    padding: 0;
    @media (max-width: $screen-lg-min) {
      width: 100%;
    }
  }
  ul {
    li {
      a {
        font-size: 18px;
        font-weight: 400;
        padding: 8px;
        text-align: center;
        &.active,
        &:hover,
        &:focus {
          color: $lighter;
          background-color: $brand-warning;
        }
      }
      ul {
        display: none;
        li {
          width: 100%;
          a {
            font-weight: 300;
            margin-bottom: 0;
          }
        }
      }
    }
    @media (min-width: $screen-lg-min) {
      li {
        padding: 3px 0;
        display: inline-block;
        vertical-align: top;
        &.subnav-sub {
          width: 24%;
        }
        a {
          font-family: "Roboto";
          font-weight: 500;
          text-decoration: none;
          margin-bottom: 10px;
          font-size: 15px;
          padding: 0;
          text-align: left;
          &.active,
          &:hover,
          &:focus {
            text-decoration: underline;
            color: inherit;
            background-color: inherit;
          }
        }
        ul { display: block; }
      }
    }

  }
}

.menu__title {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 42%;
    border-style: solid;
    border-width: 6px 5.5px 0 5.5px;
    border-color: #404040 transparent transparent transparent;
  }
}

.navbar-nav li a.menu__title.active,
.navbar-nav li a.menu__title:focus,
.navbar-nav li a.menu__title:hover {
  color: $lighter;
  background-color: $brand-warning;
  &::after {
    border-color: $lighter transparent transparent transparent;
  }
}
@media (min-width: $screen-lg-min) {
  .navbar-nav li:hover .subnav {
    display: block;
  }
}