//
// Partials -> Main
// ------------------------------------
html,
body {
  height: 100%;
}
//base
.main {margin-bottom: 50px;}
.main-title {
  margin-bottom: 32px;
  margin-top: 40px;
  @media (min-width: $screen-md-min) {
    margin-top: 0;
  }
}
.news__date {font-size: 14px;color: #747474;font-weight: 300; margin: 0;font-family: 'Roboto', sans-serif;}
.divider { height: 1px;width: 100%;background: #dcdcdc;margin-bottom: 30px;}
//base


// index
.lines {
  margin-top: 5px;
  &:last-child {margin-bottom: 5px;}
  &-first {
    background-color: #edf2f1;
    .lines-item {
      background-color: $brand-danger;
    }
  }
  &-second {
    background-color: #edf2f1;
    .lines-item__text {
      background-color: $brand-positive;
      background-size: 50% auto;
    }
  }
  &-third {
    background-color: #edf2f1;
    .lines-item {
      background-color: $brand-success;
    }
  }
  &-fourth {
    background-color: #edf2f1;
    .lines-item__text {
      background-color: $brand-info;
    }
  }
  &-item {
    text-align: center;
    height: 180px;
    @media (min-width: $screen-md-min) {
      height: 320px;
    }
    > .col {
      padding: 0;
      line-height: 0;
      height: 100%;
    }
    &__img {
      position: relative;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      img {opacity:0;}
      h3 {
        position: absolute;
        left: 5px;
        font-weight: 100;
        font-size: 14px;
        @media (min-width: $screen-md-min) {
          left: 22px;
          font-size: 28px;
        }
      }
    }
    &__text {
      padding: 20px 20px;
      display: table;
      height: 100%;
      width: 100%;
      &-inner {
        display: table-cell;
        vertical-align: middle;
        img {
          max-width: 35%;
          @media (min-width: $screen-md-min) {
            max-width: 100%;
          }
        }
      }
    }
    h2 {
      color: $lighter;font-weight: 400;
      @media (max-width: $screen-md-min) {
        margin-top: 5px;
        font-size: 20px;
      }
    }
    h4 {
      font-size: 16px;
      @media (min-width: $screen-md-min) {
        font-size: 21px;
      }
    }
    a {
      color: #ffdfa0;font-weight: 400;
      @media (max-width: $screen-md-min) {
        font-size: 12px;
      }
    }
  }

  @media (max-width: $screen-md-min) {
    .product-item__img {
      margin-bottom: 0;
      margin-top: 9px;
      max-width: 83px;
      max-height: 83px;
    }
  }
}
// index

// product-item
.product-item {
  background-color: $lighter;
  height: 100%;
  line-height: 1;
  display: block;
  text-align: center;
  text-decoration: none !important;
  &__img {
    margin-bottom: 8px;
    margin-top: 39px;
    max-width: 156px;
    max-height: 156px;
  }
  &__title {}
  &__oldprice {
    font-size: 14px;
    color:$brand-danger;
    text-decoration:line-through;
    line-height: 0.3;
    span {color: #9c9c9c;}
  }
  &__price {
    font-size: 17px;
    font-weight: 700;
  }
  &__category {
    color: $brand-primary;
    margin-right: 5px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .catalog & {
    &__inner {
      margin-top: -1px !important;
      margin-left: -1px !important;
      margin-right: 0 !important;
      display: block !important;
      width: auto !important;
      border: 1px solid $brand-warning;
      height: 308px;
    }
    &:hover {
      z-index: 9;
      position: relative;
      box-shadow: 0 0 14px rgba(2, 2, 2, 0.43);
    }
  }
  .category & {
    &__inner {
      height: auto;
      padding: 0 20px 20px;
      @media (min-width: $screen-md-min) {
        height: auto;
      }
    }
    &__img {
      margin-top: 5px;
      max-width: 255px;
      max-height: 255px;
    }
    &__title {margin-top: 16px;}
  }
}
.catalog {
  @include clearfix;
  padding-bottom: 80px;
  .col {
    padding: 0;
    line-height: 0;
    height: 100%;
  }
  &__count {
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0;
    @media (min-width: $screen-md-min) {
     opacity: 1;
    }
  }
  &-title {
    margin-bottom: 30px;
  }
}
// product-item

// article
.aticle_post {
  .news__date {
    margin: 17px 0;
  }
  &-inner {
    max-width: 800px;
    margin: auto;
  }
  &-img {
    text-align: center;
    margin-bottom: 46px;
  }
}
// article

// filter
.filter {
  background-color: #f7f7f7;
  display: none;
  margin-bottom: 20px;
  @media (min-width: $screen-md-min) {
    display: block;
  }
  &__title a {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: -22px;
      top: 40%;
      border-style: solid;
      border-width: 5px 4.5px 0 4.5px;
      border-color: #3f4143 transparent transparent transparent;
    }
  }
  &__title.active a {
    &::after {
      content: '';
      border-style: solid;
      border-width: 0 4.5px 5px 4.5px;
      border-color: transparent transparent #3f4143 transparent;
    }
  }
  &__item {
    border-bottom: 1px solid #d9d9d9;
    padding: 14px 10px;
    &-title {
      margin-bottom: 24px;
    }
    &-body {
    }
  }
  .btn--default {
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
}
// filter

// collapse
.collapse__elem {
  &-title {

  }
  &-body {
    display: none;
  }
}
// collapse

// news
.news {
  h4 {margin-bottom: 23px;}
  &-inner {margin-bottom: 80px;}
  &__img { margin-bottom: 8px;}
}
// news

//sidebar
aside {max-width: 300px; }
.panel {
  &__title {
    padding: 8px 30px;
    border-bottom: 1px solid #d9d9d9;
    h4 {color: #715122;}
  }
  &--default {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
  }
  &__item {
    display: block;
    padding: 17px 10px 17px 30px;
    text-decoration: none;
    u {font-family: $base-font-family-mono;}
    &:hover {
      background-color: $lighter;
    }
    .news__date {font-size: 12px;}
  }
}
//sidebar

// search
.search-form {
  margin-bottom: 23px;
  input {
    height: 53px;
    border: 5px solid #e5e5e5;
    border-right: 0;
  }
  .btn {
    height: 53px;
    border: 5px solid #e5e5e5;
    border-left: 0;
    padding: 6px 36px;
  }
}
.search-result {
  h6 {
    font-size: 15px;
    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }
}
// search


// busket
.busket {
  &__item {
    @media (max-width: $screen-md-min) {
      li {
        margin-bottom: 20px;
        vertical-align: middle;
        b {
          display: inline-block;
          vertical-align: middle;
          width: 120px;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    &-title {

    }
    &-img {

    }
    &-desc {
      b {
        color: black;
      }
    }
    &-price {
      color: #373d43;
      font-family: $base-font-family-mono;
      font-weight: 700;
      span {padding-top: 10px; display: block;}
    }
    &-count {
      input {
        color: #797979;
        max-width: 80px;
        text-align: center;
      }
    }
    &-summ {
      font-family: $base-font-family-mono;
      font-weight: 700;
      span {padding-top: 10px; display: block;}
    }
    &-del {
      a {padding-top: 10px; display: block;}
    }
    &-total {
      h4 {
        font-size: 20px;
      }
      .btn {
        padding: 6px 33px;
      }
    }
  }
}
// busket


// card
.card {
  &-slider {
    margin-bottom: 37px;
    #owl-card .owl-wrapper-outer {
      text-align: center;
      border: 1px solid $brand-primary;
      margin-bottom: 14px;
    }
    .item {
      position: relative;
    }
  }
  &-features {
    margin-top: 30px;
    @media (min-width: $screen-md-min) {
      margin-top: 0;
    }
  }
  &-desc {
    padding: 20px 7px;
    background: #f7f7f7;
    height: auto;
    @media (min-width: $screen-md-min) {
      height: 385px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 37px;
      height: 482px;
    }
    &__item {
      font-family: "Roboto";
      color: black;
      li {
        margin-bottom: 10px;
      }
      b {
        font-weight: 500;
        min-width: 60px;
        display: inline-block;
        @media (min-width: $screen-md-min) {
          min-width: 90px;
        }
      }
      &-price {
        font-size: 34px;
        span {font-size: 24px;}
      }
      input {
        color: #797979;
        max-width: 86px;
        text-align: center;
        @media (min-width: $screen-md-min) {
          max-width: 97px;
        }
      }
      .btn {
        padding: 6px 13px;
        @media (min-width: $screen-lg-min) {
          padding: 6px 33px;
        }
      }
      &-size {
        .btn--warning {
          height: 45px;
          width: 45px;
          color: #3f3012;
          background-color: $lighter;
          border: 1px solid $brand-warning;
          text-align: center;
          padding: 8px 5px;
          &:active,
          &.active,
          &:hover,
          &:focus,
          &.focus {
            color: $lighter;
            background-color: $brand-warning;
          }
        }
      }
    }
  }
}
// card

// sitemap
.sitemap {
  &__title {
    line-height: 26px;
    font-size: 15px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &-first {
      margin-bottom: 20px;
      line-height: 0.8;
    }
    &-second {
      margin-bottom: 20px;
    }
    &-third {
      margin-bottom: 30px;
    }
  }
}
// sitemap

//order
.order {
  &__text {
    margin-top: 18px;
    color: #464646;
  }
}
//order

// badge
.badge {
  padding: 7px 5px;
  width: 100px;
  text-align: center;
  position: absolute;
  top: 6px;
  left: 0;
  &-hit {
    background: linear-gradient(45deg, $brand-danger 6px, transparent 0) 0 5px, linear-gradient(135deg, $brand-danger 6px, #fff 0) 0 5px;
    background-color: $brand-danger;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 10px 7px;
  }
  &-shares {
    background: linear-gradient(45deg, $brand-warning 6px, transparent 0) 0 5px, linear-gradient(135deg, $brand-warning 6px, #fff 0) 0 5px;
    background-color: $brand-warning;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 10px 7px;
  }
  &-new {
    background: linear-gradient(45deg, $brand-info 6px, transparent 0) 0 5px, linear-gradient(135deg, $brand-info 6px, #fff 0) 0 5px;
    background-color: $brand-info;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 10px 7px;
  }
  &-sale {
    background: linear-gradient(45deg, $brand-success 6px, transparent 0) 0 5px, linear-gradient(135deg, $brand-success 6px, #fff 0) 0 5px;
    background-color: $brand-success;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 10px 7px;
  }
  color: $lighter;
  font-size: 13px;
  font-weight: 700;
  + .badge {
    top: 42px;
  }
}
// badge


// error
.error-404 {
  padding: 66px 0;
  @media (min-width: $screen-lg-min) {
    padding: 166px 0;
  }
}
.error-500 {
  padding: 66px 0;
  @media (min-width: $screen-lg-min) {
    padding: 166px 0;
  }
}
// error

// plugin
.owl-thumb-item {
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  padding: 5px;
  border: 1px solid $brand-primary;
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    border-bottom: 2px solid $brand-primary;
  }
}
#owl-card-thumb {
  .owl-wrapper-outer {
    margin:auto;
    float: none;
    width: 85%;
  }
  .owl-buttons div {
    top: 18%;
    font-size: 30px;
  }
  .owl-prev { left: 0;}
  .owl-next { right: 0;}
}
// plugin

.wrapper {
  position: relative;
  min-height: 100%;
  &-inner {
    padding-bottom: 284px;
  }
}