// миксины

mixin list-h(classUl, ...items)
    ul(class=classUl)
        each item in items
            li
                a(href="#")= item
        li.active
            a(href="#") ЮСС
mixin list(classUl, ...items)
    ul(class=classUl)
        each item in items
            li.nav__element
                a(href="#").nav__element-item= item

// input
mixin field(type, name, id, label, required)
    .form-group(class='field-' + type)
        label.col.col-sm-3.col-xs-12.control-label(for=id) #{label}
        .col.col-sm-6.col-xs-12
            input.form-control(type=type, name=name, id=id, required=required)