//
// Mixins -> Button
// ------------------------------------

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken( saturate( adjust-hue( $background, -3deg ), 5 ), 21 );
        border-color: darken( saturate( adjust-hue( $border, -3deg ), 5 ), 21 );
  }
  &:hover {
    color: $color;
    background-color: darken( saturate( adjust-hue( $background, -3deg ), 5 ), 21 );
        border-color: darken( saturate( adjust-hue( $border, -3deg ), 5 ), 21 );
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken( saturate( adjust-hue( $background, -3deg ), 5 ), 21 );
    border-color: darken( saturate( adjust-hue( $border, -3deg ), 5 ), 21 );
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
