extends layouts/_default


block content
    - var title = { description: 'Корзина' }
    include modules/_breadcrumbs
    .container
        .busket
            form(action='', method='post', role='form')
                table.table.table--bordered.visible-md.visible-lg
                    thead
                        tr
                            th(colspan="2") Товар
                            th Цена
                            th Количество
                            th Сумма
                            th Удалить
                    tbody
                        tr.busket__item
                            td.busket__item-img: img(src="images/busket-img-1.jpg", alt="")
                            td.busket__item-desc
                                h6: a.text--primary(href="#") Кольцо с топазом и бриллиантами
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span.text--success  Много
                            td.busket__item-price
                                span 7 432 540 Р
                            td.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                            td.busket__item-summ.text--danger
                                span 14 456 540 Р
                            td.busket__item-del.busket__del-js: a(href="#"): img(src="images/close.png", alt="")
                        tr.busket__item
                            td.busket__item-img: img(src="images/busket-img-2.jpg", alt="")
                            td.busket__item-desc
                                h6: a.text--primary(href="#") Если будет очень длинное название,
                                    br
                                    | оно должно уйти в 2 строчки
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span.text--success  Много
                            td.busket__item-price
                                span 7 432 540 Р
                            td.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                            td.busket__item-summ.text--danger
                                span 14 456 540 Р
                            td.busket__item-del.busket__del-js: a(href="#"): img(src="images/close.png", alt="")
                        tr.busket__item
                            td.busket__item-img: img(src="images/busket-img-3.jpg", alt="")
                            td.busket__item-desc
                                h6: a.text--primary(href="#") Кольцо с топазом и бриллиантами
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span  Нет
                                    li.font--sm Пожалуйста, перед покупкой &nbsp;
                                        a.text--danger(href="#", data-toggle="modal", data-target="#callForm") свяжитесь с менеджером
                            td.busket__item-price
                                span 7 432 540 Р
                            td.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                            td.busket__item-summ.text--danger
                                span 14 456 540 Р
                            td.busket__item-del.busket__del-js: a(href="#"): img(src="images/close.png", alt="")
                    tfoot
                        tr
                            td(colspan="4")
                                ul.pager.margbot10.margtop10
                                    li.previous
                                        a(href='#').arrow
                                            i &larr;
                                        a(href='#') Вернуться к покупкам
                            td.busket__item-total(colspan="4")
                                h4 Итого:
                                    span.text--danger  74 503 160 Р
                                a(href="#").btn.btn--warning Пересчитать
                .busket.visible-xs.visible-sm
                    - for (var x = 1; x < 4; x++)
                        .busket__item.margbot80
                            .busket__item-img.text--center: img(src="images/busket-img-#{x}.jpg", alt="")
                            .busket__item-desc
                                h6.margbot30: a.text--primary(href="#") Кольцо с топазом и бриллиантами
                                ul.list--unstyled
                                    li
                                        b Артикул:
                                        span  22056895
                                    li
                                        b Размер:
                                        span  12
                                    li
                                        b Наличие:
                                        span.text--success  Много
                                    li
                                        b Цена:
                                        span 7 432 540 Р
                                    li
                                        b Количество:
                                        span.busket__item-count: input.form-control.input__number-js(type="text", value="243")
                                    li
                                        b Сумма:
                                        span.busket__item-summ.text--danger 14 456 540 Р
                                    li
                                        b.busket__item-del.busket__del-js: a(href="#") Удалить
                    .text--right
                        .busket__item-total
                            h4 Итого:
                                span.text--danger  74 503 160 Р
                            a(href="#").btn.btn--warning Пересчитать
                    ul.pager.margbot30.margtop40
                        li.previous
                            a(href='#').arrow
                                i &larr;
                            a(href='#') Вернуться к покупкам

        .row.margtop40.form-mess
            .col.col-lg-6.col-md-8.col-xs-12
                h2.margbot30 Контактные данные
                form.form-horizontal(action='', method='post', role='form')
                    +field('text', 'phone', 'phone1', 'Телефон *', true)
                    +field('email', 'mail', 'mail1', 'Эл.почта *', true)
                    +field('text', 'name', 'name1', 'Имя *', true)
                    +field('text', 'surname', 'surname1', 'Фамилия *', true)
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 Комментарии
                        .col.col-sm-9.col-xs-12
                            textarea.form-control
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 &nbsp;
                        .col.col-sm-9.col-xs-12
                            a.text--primary(href="#") Доставка и оплата
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 &nbsp;
                        .col.col-sm-9.col-xs-12
                            button.btn.btn--warning(type='submit') Оформить заказ