extends layouts/_default


block content
    - var title = { description: 'Серьги пуссеты c бриллиантами' }
    include modules/_breadcrumbs
    .container
        .row
            .col.col-xs-12
                .card
                    .row
                        .col.col-md-6.col-xs-12
                            .card-slider
                                #owl-card.owl-carousel.owl-theme(data-slider-id="1")
                                    .item
                                        .badge.badge-hit
                                            span Хит
                                        .badge.badge-shares
                                            span Акция
                                        img(src="images/slide-img-big-1.jpg")
                                    .item
                                        img(src="images/slide-img-big-1.jpg")
                                    .item
                                        img(src="images/slide-img-big-1.jpg")
                                    .item
                                        img(src="images/slide-img-big-1.jpg")
                                    .item
                                        img(src="images/slide-img-big-1.jpg")
                                    .item
                                        img(src="images/slide-img-big-1.jpg")
                                    .item
                                        img(src="images/slide-img-big-1.jpg")
                                    .item
                                        img(src="images/slide-img-big-1.jpg")
                                #owl-card-thumb.owl-thumbs(data-slider-id="1")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                                    .owl-thumb-item
                                        img(src="images/slide-img-small-1.jpg")
                        .col.col-md-6.col-xs-12
                            .card-desc
                                form(action='', method='post', role='form')
                                    ul.list--unstyled.card-desc__item
                                        li
                                            b Артикул:
                                            | 22056895
                                        li.card-desc__item-size
                                            .inline.middle
                                                b Размер:
                                            .inline.middle
                                                div(data-toggle="buttons")
                                                    label.active.btn.btn--warning
                                                        input(type="radio", name="size", autocomplete="off", checked)
                                                        | 12
                                                    label.btn.btn--warning
                                                        input(type="radio", name="size", autocomplete="off")
                                                        | 12.5
                                                    label.btn.btn--warning
                                                        input(type="radio", name="size", autocomplete="off")
                                                        | 13
                                                    label.btn.btn--warning
                                                        input(type="radio", name="size", autocomplete="off")
                                                        | 13.5
                                        li
                                            .inline.middle
                                                b &nbsp;
                                            a.font--sm(href="#") Помощь при выборе размера
                                        li
                                            b Цена:
                                            span.card-desc__item-price.text--danger 12 523
                                                span  руб
                                        li
                                            b Наличие:
                                            span.text--success много
                                        li
                                            .inline.middle
                                                b Количество:
                                            .inline.middle.margright10
                                                input.form-control.input__number-js(type="text", value="")
                                            .inline.middle
                                                button.btn.btn--warning(type='submit') Купить
                                        li
                                            .inline.middle
                                                b Поделиться:
                                            .inline.middle
                                                a(href="#"): img(src="images/vk.jpg", alt="")
                                            .inline.middle
                                                a(href="#"): img(src="images/fa.jpg", alt="")

                .card-features.margbot30
                    ul.nav.nav-tabs(role='tablist')
                        li.active
                            a(href='#tab1', role='tab', data-toggle='tab') Характеристики
                        li
                            a(href='#tab2', role='tab', data-toggle='tab') Описание
                    .tab-content
                        #tab1.active.tab-pane.fade.in
                            .row
                                ul.list--contents.list--unstyled.col.col-md-6.col-xs-12
                                    li.clearfix
                                        span Длина
                                        span 3.9 мм
                                    li.clearfix
                                        span Ширина
                                        span 4 мм
                                    li.clearfix
                                        span Приблизительный вес
                                        span 1.5 г
                                    li.clearfix
                                        span Металл
                                        span Золото (Крассное)
                                    li.clearfix
                                        span Проба
                                        span 585
                                    li.clearfix
                                        span Вид обработки
                                        span Алмазная грант, родирование
                                    li.clearfix
                                        span Вставка
                                        span 2 бриллианты d 1.2 кр-17
                                    li.clearfix
                                        span Форма основной вставки
                                        span Круг
                                    li.clearfix
                                        span Кратный вес (основной вставки)
                                        span 0,016 ct
                        #tab2.tab-pane.fade
                            .row
                                .col.col-xs-12
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, illum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, illum!
        .clearfix
            h2.catalog-title Товары  в комплекте
            .catalog
                - for (var x = 1; x < 3; x++)
                    .col.col-lg-3.col-sm-6.col-xs-11.center-block
                        a(href="#").product-item
                            .badge.badge-new
                                span Новинка
                            .badge.badge-sale
                                span Распродажа
                            .product-item__inner
                                img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                h4.product-item__title Кольцо
                                p.product-item__oldprice: span 24 590 руб.
                                p.product-item__price.text--danger 1 224 590 руб.
        .divider
        .clearfix
            h2.catalog-title Товары  с другими вставками
            .catalog
                - for (var x = 1; x < 5; x++)
                    .col.col-lg-3.col-sm-6.col-xs-11.center-block
                        a(href="#").product-item
                            .product-item__inner
                                img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                h4.product-item__title Кольцо
                                p.product-item__oldprice: span 24 590 руб.
                                p.product-item__price.text--danger 1 224 590 руб.
        .clearfix
            h2.catalog-title Похожие товары
            .catalog
                - for (var x = 1; x < 5; x++)
                    .col.col-lg-3.col-sm-6.col-xs-11.center-block
                        a(href="#").product-item
                            .product-item__inner
                                img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                h4.product-item__title Кольцо
                                p.product-item__oldprice: span 24 590 руб.
                                p.product-item__price.text--danger 1 224 590 руб.
