extends layouts/_default


block content
    - var title = { description: 'Каталог' }
    include modules/_breadcrumbs
    .container
            .catalog.category
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-1.jpg", alt="")
                            h3.product-item__title Кольцо
                            a.product-item__category(href="#")  Кольцо,
                            a.product-item__category(href="#")  кольцо на ногу
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-2.jpg", alt="")
                            h3.product-item__title Серьги
                            a.product-item__category(href="#")  Серьги,
                            a.product-item__category(href="#")  cерьги пуссеты,
                            a.product-item__category(href="#")  cерьги детские,
                            a.product-item__category(href="#")  cерьги с подвесной частью,
                            a.product-item__category(href="#")  cерьги скоба,
                            a.product-item__category(href="#")  cерьги штампованные
                        .clearfix
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-3.jpg", alt="")
                            h3.product-item__title Цепи и колье
                            a.product-item__category(href="#") Цепь легковесная
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-4.jpg", alt="")
                            h3.product-item__title Браслет
                            a.product-item__category(href="#")  Браслет разных плетений,
                            a.product-item__category(href="#")  браслет легковесный,
                            a.product-item__category(href="#")  браслет звеневой
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-5.jpg", alt="")
                            h3.product-item__title Подвеска
                            a.product-item__category(href="#")  Подвеска, подвеска крест,
                            a.product-item__category(href="#")  подвеска иконка,
                            a.product-item__category(href="#")  подвеска буква
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-6.jpg", alt="")
                            h3.product-item__title Броши и брелки
                            a.product-item__category(href="#")  Брошь,
                            a.product-item__category(href="#")  булавка
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-7.jpg", alt="")
                            h3.product-item__title Пирсинг
                            a.product-item__category(href="#")  Пирсинг в пупок,
                            a.product-item__category(href="#")  пирсинг в нос