extends layouts/_default


block content
    - var title = { description: 'Серьги ' }
    include modules/_breadcrumbs
    .container
        .row
            include modules/_filter
            .col.col-md-8.col-lg-9.col-xs-12
                .catalog.text--center
                    - for (var x = 1; x < 6; x++)
                        .col.col-lg-4.col-sm-6.col-xs-11.center-block
                            a(href="#").product-item
                                .product-item__inner
                                    img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                    h3.product-item__title Серьги
                .margbot10.sort-list
                    .dropdown.pull-left
                        .dropdown-toggle(data-toggle='dropdown')
                            | Сортировать по цене
                            span.text--warning.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') По возрастанию цены
                            li
                                a(href='#') По убыванию цены
                    .pull-right 307 товаров
                    .clearfix
                .catalog.text--center
                    - for (var y = 1; y < 4; y++)
                        - for (var x = 7; x < 13; x++)
                            .col.col-lg-4.col-sm-6.col-xs-11.center-block
                                a(href="#").product-item
                                    .product-item__inner
                                        img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                        h4.product-item__title Кольцо
                                        p.product-item__oldprice: span 24 590 руб.
                                        p.product-item__price.text--danger 1 224 590 руб.
                    .clearfix
                    .collapse__elem
                        .collapse__elem-title
                            p.catalog__count Отображено 20 товаров из 150
                            a.btn.btn--warning(href="") Смотреть еще
                        .collapse__elem-body
                            - for (var x = 7; x < 13; x++)
                                .col.col-lg-4.col-sm-6.col-xs-11.center-block
                                    a(href="#").product-item
                                        .product-item__inner
                                            img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                            h4.product-item__title Кольцо
                                            p.product-item__oldprice: span 24 590 руб.
                                            p.product-item__price.text--danger 1 224 590 руб.
                            .clearfix
                            .collapse__elem
                                .collapse__elem-title
                                    p.catalog__count Отображено 40 товаров из 150
                                    a.btn.btn--warning(href="") Смотреть еще
                                .collapse__elem-body
                                    - for (var x = 1; x < 7; x++)
                                        .col.col-lg-4.col-sm-6.col-xs-11.center-block
                                            a(href="#").product-item
                                                .product-item__inner
                                                    img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                                    h4.product-item__title Кольцо
                                                    p.product-item__oldprice: span 24 590 руб.
                                                    p.product-item__price.text--danger 1 224 590 руб.