extends layouts/_default-index

block content
    - var title = { description: 'Typical' }
    include modules/_slider
    .lines.lines-first
        .container
            .row.lines-item
                .col.col-lg-8.col-xs-6.lines-item__img(style="background-image: url('images/back-main-1.jpg');")
                    img(src="images/back-main-1.jpg", alt="")
                .col.col-lg-4.col-xs-6
                    .lines-item__text
                        .lines-item__text-inner
                            img(src="icons/ico-main-1.png", alt="")
                            h2 Специальное предложение
                            a.heading.font--lg(href="#") Все предложения
    .lines.lines-second
        .container
            .row.lines-item
                .col.col-lg-3.col-md-4.col-xs-6
                    .lines-item__text
                        .lines-item__text-inner
                            img(src="icons/ico-main-2.png", alt="")
                            h2 Хит продаж
                            a.heading.font--lg(href="#") Все хиты
                .col.col-lg-3.col-md-4.col-xs-6
                    a(href="#").product-item
                        img.product-item__img(src="images/catalog/product-1.jpg", alt="")
                        h4.product-item__title Кольцо
                        p.product-item__oldprice: span 24 590 руб.
                        p.product-item__price.text--danger 1 224 590 руб.
                .col.col-lg-3.col-md-4.visible-md.visible-lg
                    a(href="#").product-item
                        img.product-item__img(src="images/catalog/product-2.jpg", alt="")
                        h4.product-item__title Кольцо
                        p.product-item__oldprice: span 24 590 руб.
                        p.product-item__price.text--danger 1 224 590 руб.
                .col.col-lg-3.visible-lg
                    a(href="#").product-item
                        img.product-item__img(src="images/catalog/product-3.jpg", alt="")
                        h4.product-item__title Подвеска
                        p.product-item__oldprice: span 24 590 руб.
                        p.product-item__price.text--danger 1 224 590 руб.
    .lines.lines-third
        .container
            .row.lines-item
                .col.col-lg-8.col-xs-6.lines-item__img(style="background-image: url('images/back-main-2.jpg');")
                    h3.text--left Новая
                        br
                        | осенняя коллекция
                        br
                        | «Лебединое озеро»
                    img(src="images/back-main-2.jpg", alt="")
                .col.col-lg-4.col-xs-6
                    .lines-item__text
                        .lines-item__text-inner
                            img(src="icons/ico-main-3.png", alt="")
                            h2 Каталог товаров
    .lines.lines-fourth
        .container
            .row.lines-item
                .col.col-lg-3.col-md-4.col-xs-6
                    .lines-item__text
                        .lines-item__text-inner
                            img(src="icons/ico-main-4.png", alt="")
                            h2 Новинки
                            a.heading.font--lg(href="#") Все новинки
                .col.col-lg-3.col-md-4.col-xs-6
                     a(href="#").product-item
                        img.product-item__img(src="images/catalog/product-4.jpg", alt="")
                        h4.product-item__title Кольцо
                        p.product-item__oldprice: span 24 590 руб.
                        p.product-item__price.text--danger 1 224 590 руб.
                .col.col-lg-3.col-md-4.visible-md.visible-lg
                    a(href="#").product-item
                        img.product-item__img(src="images/catalog/product-5.jpg", alt="")
                        h4.product-item__title Серьги
                        p.product-item__oldprice: span 24 590 руб.
                        p.product-item__price.text--danger 1 224 590 руб.
                .col.col-lg-3.visible-lg
                    a(href="#").product-item
                        img.product-item__img(src="images/catalog/product-6.jpg", alt="")
                        h4.product-item__title Кольцо
                        p.product-item__oldprice: span 24 590 руб.
                        p.product-item__price.text--danger 1 224 590 руб.