extends layouts/_default


block content
    - var title = { description: 'Заказ оформлен' }
    include modules/_breadcrumbs
    .container
        .row.order
            .col.col-xs-12.order__text
                p
                    b Ваш заказ принят под номером:187, &nbsp;
                    a.text--warning(href="javascript:(print());") распечатать заказ
                p В ближайшее время наши менеджеры свяжутся с Вами для подтверждения заказа.