extends layouts/_default


block content
    - var title = { description: 'Результаты поиска' }
    include modules/_breadcrumbs
    .container
        .row
            .col.col-xs-12
                .input-group.search-form
                    input(type="text", class="form-control")
                    .input-group-btn.input-xs
                        button.btn.btn--warning Найти
                .search-result
                    h6 По вашему запросу найдено 19 результатов
                    ul.nav.nav-tabs(role='tablist')
                        li.active
                            a(href='#tab1', role='tab', data-toggle='tab') Каталог&nbsp;
                                span   (12)
                        li
                            a(href='#tab2', role='tab', data-toggle='tab') Другие результаты&nbsp;
                                span   (7)
                    .tab-content
                        #tab1.active.tab-pane.fade.in
                            .catalog.text--center
                                - for (var y = 1; y < 3; y++)
                                    - for (var x = 7; x < 13; x++)
                                        .col.col-lg-3.col-sm-6.col-xs-11.center-block
                                            a(href="#").product-item
                                                .product-item__inner
                                                    img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                                    h4.product-item__title Кольцо
                                                    p.product-item__oldprice: span 24 590 руб.
                                                    p.product-item__price.text--danger 1 224 590 руб.
                                .clearfix
                                .collapse__elem
                                    .collapse__elem-title
                                        p.catalog__count &nbsp;
                                        a.btn.btn--warning(href="") Смотреть еще
                                    .collapse__elem-body
                                        - for (var x = 7; x < 13; x++)
                                            .col.col-lg-3.col-sm-6.col-xs-11.center-block
                                                a(href="#").product-item
                                                    .product-item__inner
                                                        img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                                        h4.product-item__title Кольцо
                                                        p.product-item__oldprice: span 24 590 руб.
                                                        p.product-item__price.text--danger 1 224 590 руб.
                        #tab2.tab-pane.fade
                            .catalog.text--center
                                - for (var x = 1; x < 7; x++)
                                    .col.col-lg-3.col-sm-6.col-xs-11.center-block
                                        a(href="#").product-item
                                            .product-item__inner
                                                img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                                h4.product-item__title Кольцо
                                                p.product-item__oldprice: span 24 590 руб.
                                                p.product-item__price.text--danger 1 224 590 руб.