extends layouts/_default


block content
    - var title = { description: 'Результаты поиска' }
    include modules/_breadcrumbs
    .container
        .row
            .col.col-xs-12
                .input-group.search-form
                    input(type="text", class="form-control")
                    .input-group-btn.input-xs
                        button.btn.btn--warning Найти
                .search-result
                    h6 По вашему запросу ничего не найдено