extends layouts/_default


block content
    - var title = { description: 'Акция' }
    include modules/_breadcrumbs
    .container
        .row.aticles
            .col.col-md-8.col-xs-12
                .aticle_post
                    img(src="images/article-img.jpg", alt="")
                    p.news__date 20 Ноября 2015
                    p Цепи и браслеты диаметром проволоки от 0,8 мм и выше по специальным низким
                        |  ценам. Обращайтесь к своему менеджеру! Цепи и браслеты диаметром проволоки от
                        |  0,8 мм и выше по специальным низким ценам. Обращайтесь к своему менеджеру!
                        |  Цепи и браслеты диаметром проволоки от 0,8 мм и выше по специальным низким
                        |  ценам. Обращайтесь к своему менеджеру! Цепи и браслеты диаметром проволоки от
                        |  0,8 мм и выше по специальным низким ценам. Обращайтесь к своему менеджеру!
                include modules/_pager
            include modules/_sidebar