extends layouts/_default


block content
    - var title = { description: 'Акции' }
    include modules/_breadcrumbs
    .container
        .row.news
            - for (var y = 1; y < 4; y++)
                - for (var x = 1; x < 4; x++)
                    .col.col-md-4
                        .news-inner
                            img.news__img(src="images/news-img-#{x}.jpg", alt="")
                            p.news__date 27 июля 2015
                            h4: a(href="#") Скидки 20% на бриллианты
                            p Цепи и браслеты диаметром проволоки
                                |  от 0,8 мм и выше по специальным
                                |  низким ценам. Обращайтесь к своему
                                |  менеджеру!
            .collapse__elem
                .collapse__elem-title.text--center
                    a.btn.btn--warning(href="") Смотреть еще
                .collapse__elem-body
                    - for (var x = 1; x < 4; x++)
                        .col.col-md-4
                            .news-inner
                                img.news__img(src="images/news-img-#{x}.jpg", alt="")
                                p.news__date 27 июля 2015
                                h4: a(href="#") Скидки 20% на бриллианты
                                p Цепи и браслеты диаметром проволоки
                                    |  от 0,8 мм и выше по специальным
                                    |  низким ценам. Обращайтесь к своему
                                    |  менеджеру!