extends layouts/_default


block content
    - var title = { description: 'Карта сайта' }
    include modules/_breadcrumbs
    .container
        .row.sitemap
            .col.col-xs-12.col-sm-6.col-lg-4.col-xlg-3.sitemap__title
                p.font--lg.sitemap__title-first: a(href="#") Каталог
                ul.sitemap__title-third.list--unstyled
                    li: b: a(href="#") Серьги
                    li: a(href="#") Серьги пуссеты
                    li: a(href="#") Серьги детские
                    li: a(href="#") Серьги с подвесной частью
                    li: a(href="#") Серьги скоба
                    li: a(href="#") Серьги штампованные
                ul.sitemap__title-third.list--unstyled
                    li: b: a(href="#") Кольца
                    li: a(href="#") Обручальные кольца
                    li: a(href="#") Помолвочные кольца
                    li: a(href="#") Мужские печатки
                    li: a(href="#") Женские кольца
                ul.sitemap__title-third.list--unstyled
                    li: b: a(href="#") Подвески и кулоны
                    li: a(href="#") Серьги пуссеты
                    li: a(href="#") Серьги детские
                    li: a(href="#") Серьги с подвесной частью
                    li: a(href="#") Серьги скоба
                    li: a(href="#") Серьги штампованные
                ul.sitemap__title-second.list--unstyled
                    li: b: a(href="#") Цепи и колье
                ul.sitemap__title-second.list--unstyled
                    li: b: a(href="#") Браслеты
            .col.col-xs-12.col-sm-6.col-lg-4.col-xlg-3.sitemap__title
                p.font--lg.sitemap__title-first: a(href="#") Акции
                p.font--lg.sitemap__title-first: a(href="#") Оплата и получение товара
                p.font--lg.sitemap__title-first: a(href="#") Розничный магазин
                p.font--lg.sitemap__title-first: a(href="#") О нас
                p.font--lg.sitemap__title-first: a(href="#") Гарантии