extends layouts/_default


block content
    - var title = { description: 'Заголовок H1' }
    include modules/_breadcrumbs
    .container
        .row.aticles
            .col.col-md-8.col-xs-12
                .aticle_post
                    img(src="images/article-img.jpg", alt="")
                    p.news__date 27 июля 2015
                    p Цепи и браслеты диаметром проволоки от 0,8 мм и выше по специальным низким
                        |  ценам. Обращайтесь к своему менеджеру! Цепи и браслеты диаметром проволоки от
                        |  0,8 мм и выше по специальным низким ценам. Обращайтесь к своему менеджеру!
                        |  Цепи и браслеты диаметром проволоки от 0,8 мм и выше по специальным низким
                        |  ценам. Обращайтесь к своему менеджеру! Цепи и браслеты диаметром проволоки от
                        |  0,8 мм и выше по специальным низким ценам. Обращайтесь к своему менеджеру!
                include modules/_pager
            include modules/_sidebar
        .row.news
            - for (var x = 1; x < 4; x++)
                .col.col-md-4
                    .news-inner
                        img.news__img(src="images/news-img-#{x}.jpg", alt="")
                        p.news__date 27 июля 2015
                        h4: a(href="#") Скидки 20% на бриллианты
                        p Цепи и браслеты диаметром проволоки
                            |  от 0,8 мм и выше по специальным
                            |  низким ценам. Обращайтесь к своему
                            |  менеджеру!
        .row.margbot60.form-mess
            .col.col-lg-6.col-md-8.col-xs-12
                h2 Заголовок H2
                form.form-horizontal(action='', method='post', role='form')
                    +field('text', 'phone', 'phone1', 'Телефон *', true)
                    +field('email', 'mail', 'mail1', 'Эл.почта *', true)
                    +field('text', 'name', 'name1', 'Имя *', true)
                    +field('text', 'surname', 'surname1', 'Фамилия *', true)
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 Комментарии
                        .col.col-sm-9.col-xs-12
                            textarea.form-control
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 &nbsp;
                        .col.col-sm-9.col-xs-12
                            a.text--primary(href="#") Доставка и оплата
                    .form-group
                        label.control-label.col.col-sm-3.col-xs-12 &nbsp;
                        .col.col-sm-9.col-xs-12
                            button.btn.btn--warning(type='submit') Оформить заказ
        .row
            h1 Серьги пуссеты c бриллиантами
            include modules/_filter
            .col.col-md-8.col-lg-9.col-xs-12
                .margbot10.sort-list
                    .dropdown.pull-left
                        .dropdown-toggle(data-toggle='dropdown')
                            | Сортировать по цене
                            span.text--warning.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') По возрастанию цены
                            li
                                a(href='#') По убыванию цены
                    .pull-right 307 товаров
                    .clearfix
                .catalog.text--center
                    - for (var y = 1; y < 4; y++)
                        - for (var x = 7; x < 13; x++)
                            .col.col-lg-4.col-sm-6.col-xs-11.center-block
                                a(href="#").product-item
                                    .product-item__inner
                                        img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                        h4.product-item__title Кольцо
                                        p.product-item__oldprice: span 24 590 руб.
                                        p.product-item__price.text--danger 1 224 590 руб.
                    .clearfix
                    .collapse__elem
                        .collapse__elem-title
                            p.catalog__count Отображено 20 товаров из 150
                            a.btn.btn--warning(href="") Показать еще
                        .collapse__elem-body
                            - for (var x = 7; x < 13; x++)
                                .col.col-lg-4.col-sm-6.col-xs-11.center-block
                                    a(href="#").product-item
                                        .product-item__inner
                                            img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                            h4.product-item__title Кольцо
                                            p.product-item__oldprice: span 24 590 руб.
                                            p.product-item__price.text--danger 1 224 590 руб.
                            .clearfix
                            .collapse__elem
                                .collapse__elem-title
                                    p.catalog__count Отображено 40 товаров из 150
                                    a.btn.btn--warning(href="") Показать еще
                                .collapse__elem-body
                                    - for (var x = 1; x < 7; x++)
                                        .col.col-lg-4.col-sm-6.col-xs-11.center-block
                                            a(href="#").product-item
                                                .product-item__inner
                                                    img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                                    h4.product-item__title Кольцо
                                                    p.product-item__oldprice: span 24 590 руб.
                                                    p.product-item__price.text--danger 1 224 590 руб.
        .divider
        .clearfix
            h2.catalog-title Товары
            .catalog
                - for (var x = 1; x < 5; x++)
                    .col.col-lg-3.col-sm-6.col-xs-11.center-block
                        a(href="#").product-item
                            .product-item__inner
                                img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                h4.product-item__title Кольцо
                                p.product-item__oldprice: span 24 590 руб.
                                p.product-item__price.text--danger 1 224 590 руб.
        .clearfix
            h2.catalog-title Товары
            .catalog
                - for (var x = 1; x < 5; x++)
                    .col.col-lg-3.col-sm-6.col-xs-11.center-block
                        a(href="#").product-item
                            .product-item__inner
                                img.product-item__img(src="images/catalog/product-#{x}.jpg", alt="")
                                h4.product-item__title Кольцо
                                p.product-item__oldprice: span 24 590 руб.
                                p.product-item__price.text--danger 1 224 590 руб.
        .clearfix
            h1.catalog-title Каталог
            .catalog.category
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-1.jpg", alt="")
                            h3.product-item__title Кольцо
                            a.product-item__category(href="#")  Кольцо,
                            a.product-item__category(href="#")  кольцо на ногу
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-2.jpg", alt="")
                            h3.product-item__title Серьги
                            a.product-item__category(href="#")  Серьги,
                            a.product-item__category(href="#")  cерьги пуссеты,
                            a.product-item__category(href="#")  cерьги детские,
                            a.product-item__category(href="#")  cерьги с подвесной частью,
                            a.product-item__category(href="#")  cерьги скоба,
                            a.product-item__category(href="#")  cерьги штампованные
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-3.jpg", alt="")
                            h3.product-item__title Цепи и колье
                            a.product-item__category(href="#") Цепь легковесная
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-4.jpg", alt="")
                            h3.product-item__title Браслет
                            a.product-item__category(href="#")  Браслет разных плетений,
                            a.product-item__category(href="#")  браслет легковесный,
                            a.product-item__category(href="#")  браслет звеневой
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-5.jpg", alt="")
                            h3.product-item__title Подвеска
                            a.product-item__category(href="#")  Подвеска, подвеска крест,
                            a.product-item__category(href="#")  подвеска иконка,
                            a.product-item__category(href="#")  подвеска буква
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-6.jpg", alt="")
                            h3.product-item__title Броши и брелки
                            a.product-item__category(href="#")  Брошь,
                            a.product-item__category(href="#")  булавка
                .col.col-lg-4.col-sm-6.col-xs-12
                    .product-item
                        .product-item__inner
                            img.product-item__img(src="images/catalog/category-7.jpg", alt="")
                            h3.product-item__title Пирсинг
                            a.product-item__category(href="#")  Пирсинг в пупок,
                            a.product-item__category(href="#")  пирсинг в нос