doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">

include ../mixins/_mixin
- var title = { description: 'Главная' }

head
  meta(charset="utf-8")
  title USS
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="favicon.ico")

  //- build:css({.tmp,app}) styles/vendor.css -->
  link(rel="stylesheet", href="../bower_components/owlcarousel/owl-carousel/owl.carousel.css")
  link(rel="stylesheet", href="../bower_components/owlcarousel/owl-carousel/owl.theme.css")
  // bower:css
  // endbower
  //- endbuild -->
  //- build:css({.tmp,app}) styles/main.css -->
  link(rel="stylesheet", href="/styles/main.css")
  //- endbuild -->

body
  .wrapper
    .wrapper-inner
      include ../modules/_modal

      include ../modules/_header

      main.main
        block content

    include ../modules/_footer


  //- build:js(./app/) scripts/vendor.js -->
  // bower:js
  script(src='../bower_components/jquery/dist/jquery.js')
  // endbower
  //- endbuild -->
  //- build:js(.tmp) scripts/plugins.js -->
  script(src="/scripts/plugins/bootstrap.min.js")
  script(src="/scripts/plugins/jquery.maskedinput.min.js")
  script(src="../bower_components/owlcarousel/owl-carousel/owl.carousel.min.js")
  script(src='../bower_components/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js')
  //- endbuild -->
  //- build:js(.tmp) scripts/main.js -->
  script(src="/scripts/main.js")
  //- endbuild -->

| </html>
